@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  list-style: none;
  color: #e5e7eb;
  font-size: 18px;
  display: flex;
  gap: 12px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 5px;
}

.container-1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 60px;
}

.img-1 {
  max-width: 250px;
}

.awesome {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.s1-text {
  color: #e5e7eb;
  font-size: 16px;
}

.left-side {
  padding-left: 25px;
}

.right-side {
  padding-right: 25px;
}

.btn-1 {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 8px;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 7px;
  width: 120px;
}

.container-2 {
  padding: 20px 0;
}

.info {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.square {
  height: 150px;
  width: 150px;
  border: 2px solid #3882f6;
  border-radius: 4px;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.info-text {
  padding-top: 10px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  text-align: start;
}

.container-3 {
  padding: 80px;
  background-color: lightgray;
  display: flex;
  text-align: end;
  justify-content: center;
}

.container-4 {
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue-container {
  height: 80px;
  width: 800px;
  background-color: #3882f6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 250px;
  border-radius: 5px;
  padding: 50px;
}

.callta {
  font-weight: bold;
  color: #e5e7eb;
  font-size: 24px;
}

.sign-up-text {
  font-size: 11px;
  color: #e5e7eb;
}

.btn-2 {
  border: 2px solid #e5e7eb;
  border-radius: 3px;
  background-color: #3882f6;
  padding: 10px;
  width: 130px;
  color: #e5e7eb;
  font-weight: bolder;
}

footer {
  background-color: #1f2937;
  padding: 30px;
  text-align: center;
}

.footer-text {
  color: #e5e7eb;
  font-size: 18px;
}
